@model IEnumerable<AuthorBookViewModel>

@foreach (var author in Model)
{
    <div>
        <div class="row">
            <div class="col">
                <partial name="Author" model="author.AuthorViewModel.Author"/>
            </div>
            <div class="col">
                <partial name="Follow" model="author.AuthorViewModel"/>
            </div>
                
        </div>
        <partial name="_BooksList" model="author.BookViewModel"/><br/>
    </div>
}
<partial name="Pagination" />