@model Book
<div>
    <form asp-controller="UserLibrary" asp-action="AddToLibrary" method="post">
        <input type="hidden" name="BookId" value="@Model.BookId"/>
        <label for="status">Status:</label>
        <select id="status" name="Status">
            <option value="Reading">Reading</option>
            <option value="Completed">Completed</option>
            <option value="Dropped">Dropped</option>
            <option value="PlanToRead">Plan to Read</option>
        </select>
        <button type="submit">Add to library</button>
    </form>
</div>
