@model IQueryable<Serwis_Książkowy.ViewModels.BookViewModel>

<div>
    <form asp-controller="Authors" asp-action="Follow" method="post">
        <input type="hidden" name="authorId" value="@Model.First().Book.AuthorId"/>
        <button type="submit">Follow</button>
    </form>
</div>