<form id="form" method="get" asp-action="Search" asp-controller="Home" class="row g-3 align-items-center">
    <div class="col-auto">
        <select name="searchType" id="searchType" class="form-select">
            <option value="book">Book</option>
            <option value="author">Author</option>
        </select>
    </div>
    
    <div class="col-auto">
        <input type="search" name="searchQuery" id="searchQuery" class="form-control" placeholder="Search..." required="">
    </div>
    
    <div class="col-auto me-2">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>